<div class="container" id="hero">
    <div class="row justify-content-center">
        <div class="col-md text-center align-middle p-4">
            <img src="/assets/images/avatar.png" alt="Avatar image of a Birman cat" class="rounded-circle align-middle" />
        </div>
    </div>
</div>